<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Portifólio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-tQldF8SmtEsgczjM8CZJ1xE0Q6f1DkEIApHl6S24EdwVLe2E9dT7Ck5TjG6D/zCm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-WkzUcOzBgGp+XCZY7DFxwwBrHRLvTOc9a7LoDioJb6CgjsVYll9L0xYy+FsZZaPw" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Teste</h1>
</body>
</html>